{% extends 'MGDemoBundle:Bases:base_admin.html.twig' %}

{% block content %}
    <div class="container">
        <div class="span12 hero-unit" style="min-width: 320px">
            <div class="row">
                <div class="span6">
                    <h4>Detalles Servicio</h4>
                    <table class="table table-bordered table-condensed table-striped">
                        <tr>
                            <td>Nombre</td>
                            <td>FISCAL <PYMES></PYMES></td>
                        </tr>
                        <tr>
                            <td>Descripción</td>
                            <td>FISCAL PGC</td>
                        </tr>
                        <tr>
                            <td>Tarifa</td>
                            <td>175€</td>
                        </tr>

                        <tr class="success">
                            <td>Estado</td>
                            <td class="success">Activo</td>
                        </tr>

                    </table>
                </div>
            </div>

            <div class="span9">
                <a class="btn btn-large btn-info margined" href="{{ path('mg_demo_serv_update') }}">Editar</a>
                <button class="btn btn-large btn-danger margined disButton">Bloquear</button>
                <a class="btn btn-large margined" href="{{ path('mg_demo_servadmin_homepage') }}">Volver</a>
            </div>

        </div>

    </div>
{% endblock %}