{% extends 'MGDemoBundle:Bases:base_admin.html.twig' %}

{% block content %}

    <div class="container">
        <div class="span12">
            <div class="row">
                <h3>Crear usuario</h3>
                <form method="POST" class="update_form">
                    <fieldset>
                        <div class="span4">
                            <label for="mg_userbundle_usertype_username" class="required">Usuario</label>
                            <input type="text" id="mg_userbundle_usertype_username" name="mg_userbundle_usertype[username]" required="required" placeholder="Usuario">

                            <label for="mg_userbundle_usertype_email" class="required">Email</label>
                            <input type="email" id="mg_userbundle_usertype_email" name="mg_userbundle_usertype[email]" required="required" placeholder="Email">

                            <div id="mg_userbundle_usertype_plainPassword"><div><label for="mg_userbundle_usertype_plainPassword_first" class="required">Contraseña:</label><input type="password" id="mg_userbundle_usertype_plainPassword_first" name="mg_userbundle_usertype[plainPassword][first]" required="required"></div><div><label for="mg_userbundle_usertype_plainPassword_second" class="required">Repita la contraseña:</label><input type="password" id="mg_userbundle_usertype_plainPassword_second" name="mg_userbundle_usertype[plainPassword][second]" required="required"></div></div>

                            <label for="mg_userbundle_usertype_name" class="required">Nombre</label>
                            <input type="text" id="mg_userbundle_usertype_name" name="mg_userbundle_usertype[name]" required="required" placeholder="Nombre">

                            <label for="mg_userbundle_usertype_apellidos" class="required">Apellidos</label>
                            <input type="text" id="mg_userbundle_usertype_apellidos" name="mg_userbundle_usertype[apellidos]" required="required" placeholder="Apellidos">

                            <label for="mg_userbundle_usertype_nif" class="required">DNI</label>
                            <input type="text" id="mg_userbundle_usertype_nif" name="mg_userbundle_usertype[nif]" required="required" placeholder="NIF" maxlength="9">

                            <label for="mg_userbundle_usertype_fechaNacimiento" class="required">Fecha Nacimiento</label>
                            <input type="date" id="mg_userbundle_usertype_fechaNacimiento" name="mg_userbundle_usertype[fechaNacimiento]" required="required">

                        </div>
                        <div class="span3">
                            <label for="mg_userbundle_usertype_telefono">Teléfono</label>
                            <input type="text" id="mg_userbundle_usertype_telefono" name="mg_userbundle_usertype[telefono]" placeholder="Teléfono">

                            <label for="mg_userbundle_usertype_telefonoMvl">Teléfono Móvil</label>
                            <input type="text" id="mg_userbundle_usertype_telefonoMvl" name="mg_userbundle_usertype[telefonoMvl]" placeholder="Teléfono móvil">

                            <label for="mg_userbundle_usertype_direccion">Dirección</label>
                            <input type="text" id="mg_userbundle_usertype_direccion" name="mg_userbundle_usertype[direccion]" placeholder="Dirección">

                            <label for="mg_userbundle_usertype_ciudad">Ciudad</label>
                            <input type="text" id="mg_userbundle_usertype_ciudad" name="mg_userbundle_usertype[ciudad]" placeholder="Ciudad">

                            <label for="mg_userbundle_usertype_codigoPostal">Código Postal</label>
                            <input type="text" id="mg_userbundle_usertype_codigoPostal" name="mg_userbundle_usertype[codigoPostal]" placeholder="Código Postal">

                            <label for="mg_userbundle_usertype_pais" class="required">País</label>
                            <select id="mg_userbundle_usertype_pais" name="mg_userbundle_usertype[pais]" required="required"><option value="España">España</option></select>


                            <label for="mg_userbundle_usertype_rol" class="required">
                                Perfil
                                <a data-content="El perfil del usuario determinará los diferentes niveles de acceso al sistema. Estos perfiles son: Gestor/a, Empleado/a y Cliente/a" data-original-title="¿Que es el Perfil?" class="btn toolTip">?</a>
                            </label>
                            <select id="mg_userbundle_usertype_rol" name="mg_userbundle_usertype[rol]" required="required"><option value="2">GESTOR/A</option><option value="3">EMPLEADO/A</option><option value="4">CLIENTE/A</option></select>

                            <label>Empresas
                                <a data-content="Deberás seleccionar la empresa a la que quieres asignar al usuario de las que ya perteneces." data-original-title="¿Que es la Empresa?" class="btn toolTip">?</a>
                            </label>
                            <div id="mg_userbundle_usertype_empresas" class="empSelector">
                                <input type="checkbox" id="mg_userbundle_usertype_empresas_2" name="mg_userbundle_usertype[empresas][]" value="2">
                                <label for="mg_userbundle_usertype_empresas_2">Asesoría Tavernes S.L.</label>
                                <input type="checkbox" id="mg_userbundle_usertype_empresas_31" name="mg_userbundle_usertype[empresas][]" value="31">
                                <label for="mg_userbundle_usertype_empresas_31">Gestoría Tavernes S.A.</label>
                            </div>
                        </div>
                    </fieldset>
                        <input type="submit" value="Guardar" class="btn btn-success">
                        <a class="btn" href="{{ path('mg_demo_useradmin_homepage') }}">Volver</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
